.contact_container{
    margin-top: 50vh;
    height: 80vh;
    padding-bottom: 20vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.contact_blocks_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#contact_blocks_container_small{
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 1em;
    box-shadow: 0px 10px 10px 10px rgb(165, 162, 162);
}

.contact_block{
    min-width: 260px;
    max-width: 260px;

    min-height: 250px;
    padding-bottom: 50px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

    border-style: none;
    border-radius: 1em; 


    box-shadow: 0px 10px 10px 10px rgb(165, 162, 162);

}

.contact_block_small{
    width: 260px;
 

    min-height: 200px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;


}
.contact_link:hover{
    color: rgb(14, 0, 121);
}

.contact_img{
    width: 80px;
}

@media only screen and (max-width: 1150px) {
    .contact_block{
        box-shadow: 10px 10px 10px 10px rgb(165, 162, 162);
    }


    #contact_blocks_container_small{
        display: flex;
    }

    #contact_blocks_container_big{
        display: none;
    }


  }