
.container{
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;


    color: rgb(48, 47, 47);
    
}


.intro{
    height: 100vh;
    padding-top: 10vh;
}

h2{
    animation: FadeIn 3s;
}
h1{
    animation: FadeIn 4s;
    font-size: 50px;
    line-height: 50px;
    color: rgb(0, 0, 0);

}
h3{

    width: 100%;
    animation: FadeIn 5s;
}

/* @media only screen and (max-width: 700px) {
    .container{
        width: 95%;
    }

    h3{
        width: 100%;
    }
  }

@media only screen and (max-width: 440px) {
    h1{
        line-height: 50px;
    }
  }



@keyframes FadeIn {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
} */


