
.container{
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;


    color: rgb(48, 47, 47);
    
}

.projects-button{
    display: none;
    width: 30px;
    margin-top: 250px;
    margin-right: auto;
    margin-left: auto;
}

.projects-button:hover{
    animation: pulse infinite;
    animation-duration: 0.8s;
    width: 33px;
}

.projects-button:active{
    margin-top: 253px;
}

.intro{
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
}

h2{
    animation: FadeIn 3s;
}
h1{
    animation: FadeIn 4s;
    font-size: 50px;
    line-height: 50px;
    color: rgb(0, 0, 0);

}
h3{

    width: 100%;
    animation: FadeIn 5s;
}


 @media only screen and (min-width: 400px) {
    .projects-button{
        display: block;
    }
  }

@keyframes FadeIn {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}


